/*
@media #{VARIABLE} {
    //CONTENT
}
*/
// laptops
$mq-1400-down: "screen and (max-width:1400px)";

// tablets
$mq-820-down: "screen and (max-width:820px)";

// phones
$mq-480-down: "screen and (max-width:480px)";
$mq-365-down: "screen and (max-width:365px)";